body {
    margin: 0 auto;
    background-color: rgba(236, 54, 54, 0.562);
}

header {
    background-color: black;
    color: white;
    width: 100%;
    height: 7rem;
    text-align: center;
    line-height: 7rem;
}

main {
    display: flex;
}


.container {
    width: 360px;
    height: 360px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.score-container {
    width: 300px;
    height: 200px;
    border: 1px solid gray;
    box-sizing: border-box;
}


.box {
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    border: 2px solid rgb(112, 108, 108);
    display: flex;
    justify-content: center;
    align-items: center;
}

